.section {
  margin-top: 30px;
}
.wrapper {
  display: flex;
  /* align-items: center; */
  gap: 10px;
  margin-bottom: 20px;
  padding: 15px 14px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: -1px -7px 54px #eee;
}

.left {
  width: 80px;
  height: 80px;
}
.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.middle {
  flex-grow: 1;
}

.title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0;
}

.m_r {
  display: flex;
  gap: 10px;
}
.quate {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 600;
  color: #aaa;
}

.discount {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 600;
  color: mediumvioletred;
  border: 1px solid mediumvioletred;
  padding: 0px 6px;
  border-radius: 7px;
}
.c {
  margin-bottom: 0;
  font-size: 12px;
  color: #aaa;
}


.quan {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 600;
  margin-top: 2px;
  /* color: mediumvioletred; */
}

.right {
  display: flex;
  flex-direction: column;
  animation: c;
  align-items: center;
}

.plus {
  color: green;
  margin-bottom: 2px;
}

.minus {
  color: mediumvioletred;
}
.hg {
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 600;
}
