
.section{

}
.logo{
    height: 85px;
    width: 75px;
}
.section_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right{
    display: flex;
    gap: 20px;
}